body {
    background-color: black;
    color: white;
    font-family: Didot, serif;
}

.header {
    display: inline-block;
    color: blue;
    font-family: Didot, serif;
    font-size: 6vw;
    padding: 1vw 3vw;
    border-bottom: 0.3vw solid blue;
}

.header-2 {
    display: inline-block;
    color: blue;
    font-family: Didot, serif;
    font-size: 3vw;
    padding: 0.5vw 2vw;
    border-bottom: 0.3vw solid blue;
}

.header-3 {
    color: blue;
    font-family: Didot, serif;
    font-size: 1.6vw;
    padding: 0.2vw 0.5vw;
    margin: 0.4vw;
    margin-bottom: 1vw;
}

.header-4 {
    color: blue;
    font-family: Didot, serif;
    font-size: 1.2vw;
    padding: 0.2vw 0.5vw;
    margin: 0.4vw;
    margin-bottom: 1vw;
}

.para {
    color: blue;
    margin: 1vw;
    margin-left: 3.5vw;;
}

a {
    color: blue;
    text-decoration: none;
}

.button, a.button, .new-entry {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1.65vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.55vw 1vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.button:hover {
    background-color: rgb(7, 7, 7);
}

.options-content a:hover {
    background-color: rgb(31, 31, 31);
}

.options {
    position: relative;
}

.options-content {
    display: none;
    position: absolute;
    left: 12vw;
    top: -2vw;
}

.options:hover .options-content {
    display: block;
}

.no-prompt, .shadow-prompt {
    display: block;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1.4vw;
    width: fit-content;
    padding: 0.55vw 1vw;
    margin-bottom: 1vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.buttons {
    position: absolute;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 4vw;
    top: 14vw;
}

.log {
    background-color: rgb(12, 12, 12);
    border: 0.2vw solid blue;
    border-radius: 1vw;
    padding: 1vw;
    margin: 1vw;
    max-width: 52vw;
}

.bar {
    display: flex;
    justify-content: space-around;
}

.bar-2 {
    display: flex;
    justify-content: space-around;
    max-width: 50vw;
    margin: 0.8vw;
    border-bottom: 0.1vw solid blue;
}

.log-entry {
    margin: 1vw;
    margin-left: 2vw;
}

.log-header {
    font-size: 1.5vw;
    margin-bottom: 0.3vw;
}

.log-content {
    margin-left: 1vw;
}

.text-editor {
    background-color: rgb(12, 12, 12);
    height: 28vw;
    max-height: 28vw;
    margin: 2vw;
    border: 0.3vw solid blue;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1vw;
    overflow-y: auto;
    word-wrap: break-word;
    color: blue;
}

.format-button {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
    margin-left: 1vw;
}

.mood-select {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.save-entry {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.clock {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    border-bottom: 0.25vw solid blue;
}

.home-button {
    display: inline-flex;
    text-align: left;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.home-button-2 {
    position: absolute;
    left: 92vw;
    top: 1.7vw;
    background: none;
    color: blue;
    font-family: Didot, serif;
    font-size: 2vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    cursor: pointer;
    border: 0.25vw solid blue;
    border-radius: 0.3vw;
}

.log-entries {
    color: blue
}

.mcwhale {
    position: absolute;
    left: 64vw;
    top: 13vw;
}

.ffshark {
    position: absolute;
    left: 30vw;
    top: 25vw;
}

.text-mcw {
    background-color: rgba(8, 8, 8, 0.8);
    color: blue;
    padding: 1vw;
    position: absolute;
    left: 59vw;
    top: 24vw;
    border: 0.2vw solid blue;
    border-radius: 1vw;
}

.text-ffs {
    background-color: rgba(8, 8, 8, 0.8);
    color: blue;
    padding: 1vw;
    position: absolute;
    left: 50vw;
    top: 35vw;
    border: 0.2vw solid blue;
    border-radius: 1vw;
}