body {
    background-image: url('assets/deepblue.png');
    background-size: cover;
    font-family: Didot, serif;
}

.header {
    display: inline-block;
    color: rgb(0, 1, 48);
    font-family: Didot, serif;
    font-size: 6vw;
    padding: 1vw 3vw;
    border-bottom: 0.3vw solid rgb(0, 1, 48);
}

.header-2 {
    display: inline-block;
    color: rgb(0, 1, 48);
    font-family: Didot, serif;
    font-size: 3vw;
    padding: 0.5vw 2vw;
    border-bottom: 0.3vw solid rgb(0, 1, 48);
}

.header-3 {
    color: rgb(0, 1, 48);
    font-family: Didot, serif;
    font-size: 1.2vw;
    padding: 0.2vw 0.5vw;
    margin: 0.4vw;
    margin-bottom: 1vw;
}

.header-4 {
    color: rgb(0, 1, 48);
    font-family: Didot, serif;
    font-size: 1vw;
    padding: 0.2vw 0.5vw;
    margin: 0.4vw;
    margin-bottom: 1vw;
}

.para {
    color: rgb(193, 194, 241);
    margin: 1vw;
    margin-left: 3.5vw;;
}

.para-link {
    color: rgb(193, 194, 241);
}

a {
    color: rgb(0, 1, 48);
    text-decoration: none;
}

.button {
    display: inline-flex;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1.65vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.55vw 1vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(0, 1, 48, 0.8);
}

.options-content a:hover {
    background-color: rgb(0, 1, 48, 0.8);
}

.options {
    position: relative;
}

.options-content {
    display: none;
    position: absolute;
    color: rgb(193, 194, 241);
    left: 12vw;
    top: -2vw;
}

.options:hover .options-content {
    display: block;
}

.no-prompt, .shadow-prompt {
    display: block;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1.4vw;
    width: fit-content;
    padding: 0.55vw 1vw;
    margin-bottom: 1vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
}

.buttons {
    position: absolute;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 4vw;
    top: 14vw;
}

.log {
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    border: 0.2vw solid rgb(0, 1, 48);
    border-radius: 1vw;
    padding: 1vw;
    margin: 1vw;
}

.bar {
    display: flex;
    justify-content: space-around;
    color: rgb(193, 194, 241);
}

.bar-2 {
    display: flex;
    justify-content: space-around;
    margin: 0.8vw;
    border-bottom: 0.1vw solid rgb(0, 1, 48);
}

.log-entry {
    margin: 1vw;
    margin-left: 2vw;
}

.log-header {
    font-size: 2vw;
    margin-bottom: 0.3vw;
}

.log-content {
    font-size: 1vw;
    margin-left: 3vw;
}

.editor {
    background-color: rgb(0, 1, 48, 0.5);
    height: 28vw;
    max-height: 28vw;
    margin: 2vw;
    border: 0.3vw solid rgb(0, 1, 48);
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1vw;
    overflow-y: auto;
    word-wrap: break-word;
    color: rgb(193, 194, 241);
}

.editor-header {
    font-size: 1.7vw;;
}

.editor-header:focus, .editor-content:focus {
    outline: none;
    border: none;
}

.format-button {
    display: inline-flex;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    margin-left: 1vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.mood-select {
    display: inline-flex;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.save-entry {
    display: inline-flex;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.clock {
    display: inline-flex;
    text-align: left;
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    border-bottom: 0.25vw solid rgb(0, 1, 48);
}

.home-button {
    display: inline-flex;
    text-align: left;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.home-button-2 {
    position: absolute;
    left: 92vw;
    top: 1.7vw;
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(0, 1, 48);
    font-family: Didot, serif;
    font-size: 2vw;
    width: fit-content;
    max-width: 20vw;
    padding: 0.45vw 0.8vw;
    cursor: pointer;
    border: 0.25vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.format-button:hover, .mood-select:hover, .save-entry:hover, .home-button:hover, .home-button-2:hover {
    background-color: rgb(0, 1, 48, 0.8);
}

.log-entries {
    color: rgb(0, 1, 48)
}

.mcwhale {
    position: absolute;
    left: 64vw;
    top: 13vw;
}

.ffshark {
    position: absolute;
    left: 30vw;
    top: 25vw;
}

.text-mcw {
    background-color: rgb(0, 1, 48, 0.8);
    color: rgb(193, 194, 241);
    padding: 1vw;
    position: absolute;
    left: 63vw;
    top: 24vw;
    border: 0.2vw solid rgb(0, 1, 48);
    border-radius: 1vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.text-mcw:hover {
    background-color: rgb(0, 1, 48, 0.95);
}

.text-ffs {
    background-color: rgb(0, 1, 48, 0.8);
    color: rgb(193, 194, 241);
    max-width: 30vw;
    padding: 1vw;
    position: absolute;
    left: 45vw;
    top: 35vw;
    border: 0.2vw solid rgb(0, 1, 48);
    border-radius: 1vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.text-ffs:hover {
    background-color: rgb(0, 1, 48, 0.95);
}

.log-bar {
    background-color: rgb(0, 1, 48, 0.5);
    color: rgb(193, 194, 241);
    font-family: Didot, serif;
    font-size: 1vw;
    width: fit-content;
    margin-bottom: 1.5vw;
    padding: 0.45vw 0.8vw;
    white-space: nowrap;
    border: 0.2vw solid rgb(0, 1, 48);
    border-radius: 0.3vw;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease;
}

.view-btn, .edit-btn, .delete-btn {
    cursor: pointer;
}

.view-btn:hover, .edit-btn:hover, .delete-btn:hover {
    background-color: rgb(0, 1, 48, 0.8);
}

.log-prompt {
    font-size: 1.4vw;
    margin-left: -1vw;
    padding-bottom: 1vw;
    border-bottom: 0.1vw solid rgb(0, 1, 48);
}

.bottle {
    position: absolute;
    left: 16vw;
    top: 0.4vw;
    max-width: 3.5vw;
}